<div class="content">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="span4 offset7">
      <h1>Granja: <%= @chicken.farm.name %> </h1>
    </div>
  </div>

  <h2>
    Status da Galinha: <%= @chicken.id %>
  </h2>

  <div class="row">
    <div class="span2">
      Tipo: <%= @chicken.chicken_type %>
    </div>
    <div class="offset7 span3">
      <h4>Dias em atividade: <%= @chicken.active_days %></h4>
    </div>
  </div>

  <div class="row">
    <div class="span2">
      <%= link_to 'Editar', edit_farm_chicken_path( @farm,@chicken) %> |
      <%= link_to 'Galinhas', farm_chickens_path(@farm) %>
    </div>
    <div class="span2 offset7">
      <%= link_to 'Gerenciar Ovos', chicken_eggs_path(@chicken), :class => 'btn btn-primary' %>
    </div>
  </div>
</div>

<%= render partial: "layouts/partials/status_production", locals: {entity:@chicken}%>
