<%= form_for([@chicken,@egg]) do |f| %>
  <% if @egg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@egg.errors.count, "error") %> prohibited this egg from being saved:</h2>

      <ul>
      <% @egg.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Quantidade" %><br />
    <%= f.number_field :quantity %>
  </div>
    <div>
      <%= f.hidden_field :chicken_id%>
    </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
